// RESETS
button {
  border: none;
}
a {
  color: white;
}

// VARIABLES
$col-primary: #dd5c00;
$col-secondary: #53d8fb;
$col-dark: #0e1214;
$col-light: #ffffff;
$font-title: "Overpass";
$font-text: "Martel Sans";
$page-padding: 7%;

// HELPERS
.mb-8 {
  margin-bottom: 8px;
}
.ml-20 {
  margin-left: 20px;
}
.mb-24 {
  margin-bottom: 24px;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.col-primary {
  color: $col-primary;
}

// TEXT
h1 {
  font-family: $font-title, sans-serif;
  font-size: 3rem;
}
.title--bold {
  font-weight: 800;
}
p {
  font-family: $font-text, sans-serif;
  line-height: 1.7;
  font-size: 1.6rem;
}
h2 {
  font-family: $font-title, sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
}

// NAVIGATION
#nav {
  width: 100vw;
  height: 60px;
  padding-left: $page-padding;
  padding-right: $page-padding;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $col-dark;
  box-shadow: 5px 0px 3px $col-dark;
  z-index: 5;
}
.nav-logo {
  min-height: 40px;
  max-height: 50px;
}
.nav-link {
  padding-left: 20px;
  color: col-light;
  font-family: $font-text, sans-serif;
  font-weight: 600;
  cursor: pointer;
  font-size: 1.5rem;

  &.active {
    color: $col-primary;
    &:hover {
      color: $col-primary;
    }
  }
  &:hover {
    color: $col-secondary;
  }
}

// MOBILE NAVIGATION
// Highly costumized but with a reference: https://codepen.io/ProgrammingRockstar/pen/WadNYO
#menuToggle {
  display: none;
  position: fixed;
  top: 0;
  z-index: 5;
  height: 65px;
  width: 100vw;
  -webkit-user-select: none;
  user-select: none;
  background-color: $col-dark;
  box-shadow: 6px 0px 10px rgba(0, 0, 0, 0.6);
}
#menuToggle input {
  display: block;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0;
  right: 5%;
  cursor: pointer;
  opacity: 0;
  z-index: 6;
  -webkit-touch-callout: none;
}

// Hamburger
#menuToggle span {
  position: relative;
  left: 88vw;
  top: -40px;
  z-index: 2;
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  background: $col-light;
  border-radius: 2px;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}
#menuToggle span:first-child {
  transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}
/* Transform all the slices of hamburger into a crossmark */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: $col-light;
}
/* hide the middle one */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
/* last one should go the other direction */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

// Menu
#menu {
  position: absolute;
  width: 100vw;
  height: 110vh;
  margin: -80px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: $col-dark;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(0, -120vh);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  z-index: -1;
  .nav-links-wrapper {
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $col-light;
    a {
      opacity: 0;
      padding-left: 0;
      padding-right: 0;
    }
    button {
      margin: 10% 0;
    }
  }
}
ul {
  padding: 0;
  color: var(--color-light);
}
ul a {
  padding: 2%;
  font-family: var(--font-family-complimentary);
  font-size: 20px;
  color: var(--color-light);
}
/* slide it in */
#menuToggle input:checked ~ ul {
  transform: none;
  a {
    animation: opacityAnim 1.5s 0s ease-in-out forwards;
  }
}

// BUTTONS
.btn {
  padding: 14px 24px 10px;
  border-radius: 4px;
  color: $col-light;
  font-family: $font-text;
  font-weight: 600;
  font-size: 1.4rem;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  &--filled {
    background-color: $col-primary;
    &:hover {
      color: $col-dark;
      background-color: $col-secondary;
    }
  }
  &--outlined {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid $col-primary;
    color: $col-primary;
    &:hover {
      color: $col-secondary;
      border: 1px solid $col-secondary;
    }
  }
  &--white {
    color: $col-primary;
    background-color: $col-light;
    &:hover {
      color: $col-dark;
      background-color: $col-secondary;
    }
  }
  &--small {
    padding: 8px 10px 4px;
  }
}

// SECTIONS
.section {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  &--column {
    flex-direction: column;
  }
  &--padding-left {
    padding-right: 20%;
  }
  &--center {
    justify-content: center;
  }
  &--l {
    width: 100vw;
    min-height: 80vh;
  }
  &--s {
    width: 100vw;
    padding-right: 0;
    min-height: 500px;
  }
  &--bg-orange {
    background-color: $col-primary;
  }
  &--bg-dark {
    background-color: rgba(14, 18, 20, 0.9);
  }
  &--img {
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0;
  }
  .text-wrapper {
    width: 500px;
    padding-left: 20px;
    &--left {
      margin-right: 60px;
      text-align: right;
    }
    &--light {
      color: $col-light;
    }
    &--dark {
      color: $col-dark;
    }
  }
  .options-wrapper {
    max-width: 54%;
    margin-top: 32px;
    margin-bottom: 32px;
    display: flex;
    flex-wrap: wrap;
    &--nowrap {
      flex-wrap: nowrap;
      overflow-x: scroll;
    }
    &--mw {
    }
  }
  .option-box {
    width: 210px;
    height: 210px;
    margin: 10px;
    padding: 14px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid $col-primary;
    &--long {
      width: 300px;
      display: flex;
      flex-shrink: 0;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    &--light {
      border: none;
      background-color: $col-light;
    }
    &--bg-primary {
      border: none;
      background-color: $col-primary;
    }
    &--cta {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      line-height: 1.4;
      background-color: $col-primary;
      text-align: right;
      color: $col-light;
      h2 {
        font-size: 2.3rem;
      }
    }
    p {
      font-size: 1.1rem;
    }
    .box-title-wrapper {
      margin-bottom: 8px;
      display: flex;
      align-items: center;

      &--img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $col-light;
        img {
          width: 50px;
          height: 50px;
          margin-bottom: 14px;
          border-radius: 50%;
          border: 1px solid $col-light;
        }
        h2 {
          margin-bottom: 8px;
        }
      }
      i {
        margin-right: 14px;
        font-size: 32px;
        color: $col-primary;
      }
    }
  }
}

// Hero section
.hero-section {
  width: 100vw;
  height: calc(100vh - 60px);
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  .hero-art {
    width: 40vw;
    height: 9vh;
    clip-path: polygon(15% 0, 100% 0, 100% 100%, 0% 100%);
    position: absolute;
    bottom: 0px;
    right: 0;
    background-color: $col-primary;
    z-index: 2;
  }
  .hero-video-container {
    width: 100%;
    height: 100%;
    position: relative;
    opacity: 0.6;
    z-index: -1;
    overflow: hidden;
    video {
      object-fit: cover;
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
    }
    ::after {
      content: " ";
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .hero-text-container {
    margin-left: $page-padding;

    z-index: 3;
    h1 {
      font-family: $font-title;
      font-weight: 800;
      font-size: 5.8rem;
      line-height: 0.8;
    }
    h2 {
      margin-bottom: 50px;
      font-family: $font-text;
      font-weight: 400;
      font-size: 2rem;
      line-height: 1.2;
    }
    #subtitle {
      font-size: 4.2rem;
      line-height: 1.1;
    }
    &--left {
      position: absolute;
      left: 0;
      top: 30%;
    }
  }
  &--s {
    height: 580px;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/images/header-s.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .hero-text-container {
      margin-left: 0;
      color: $col-light;
      text-align: center;
    }
  }
}

// Post section
#post-section {
  padding: 94px 20% 120px 20%;
  color: $col-light;
  article {
    width: 80%;
    margin: 74px 8px 120px 8px;
    * {
      margin-bottom: 24px;
    }
    img {
      width: 100%;
      margin: 24px 0 42px;
    }
    .date {
      i {
        margin-right: 8px;
      }
    }
  }
  .link__go-back {
    align-self: flex-start;
    font-family: $font-text;
    color: $col-primary;
    font-weight: 600;
    font-size: 16px;
    i {
      padding-right: 10px;
    }
  }
}

// Story section
#storyContainer {
  display: block;
  width: calc(55% + 30px);
  margin-left: 24px;
  padding: 60px 16% 60px 60px;
  border-radius: 4px 0 0 4px;
  background-color: rgba(14, 18, 20, 0.9);
}
.img-story {
  grid-area: img;
  width: calc(45% - 30px);
  background-image: url("../assets/images/fandridis-electric-printed-flyers.jpg");
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0 4px 4px 0;
}
.story-art {
  height: 110%;
  width: 60%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #25292b;
  clip-path: polygon(0% 0%, 100% 0, 40% 100%, 0% 100%);
  z-index: -2;
}

// Suppliers section
.img-hager,
.img-abb,
.img-legrand,
.img-paradox,
.img-schneider,
.img-atlas {
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
}
.img-hager {
  background-image: url("../assets/images/hager.png");
}
.img-abb {
  background-image: url("../assets/images/abb.png");
}
.img-legrand {
  background-image: url("../assets/images/legrand.png");
}
.img-paradox {
  background-image: url("../assets/images/paradox.png");
}
.img-schneider {
  background-image: url("../assets/images/schneider.png");
}
.img-atlas {
  background-image: url("../assets/images/atlas.png");
}

// News section
#newsSection {
  margin-top: 90px;
  margin-bottom: 140px;
}
// Template news card
.card {
  max-width: 1000px;
  width: 90%;
  margin: 10px;
  display: flex;
  img {
    width: 300px;
    height: 300px;
  }
  .card__text-wrapper {
    width: 70%;
    max-height: 300px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    color: $col-light;
    background-color: hsla(0, 0%, 0%, 0.8);
    #card__title {
      font-family: $font-title;
      font-weight: 600;
    }
    .date {
      margin: 8px 0 10px 0px;
      font-family: $font-text;
      font-size: 14px;
      font-weight: 300;
      i {
        margin-right: 16px;
      }
    }
    #description {
      margin: 16px 0;
      font-family: $font-text;
      font-size: 14px;
    }
    #link__read-more {
      bottom: 20px;
      right: 40px;
      font-family: $font-text;
      color: $col-primary;
      font-weight: 600;
      font-size: 16px;
    }
  }
}

// FOOTER
footer {
  min-height: 200px;
  width: 100vw;
  padding-top: 40px;
  padding-left: $page-padding;
  padding-right: $page-padding;
  display: flex;
  justify-content: space-between;
  background-color: $col-dark;
  color: $col-light;
  font-family: $font-title;
  font-size: 16px;
  .footer-links-area {
    width: 50%;
    display: flex;
    justify-content: space-around;
    .footer-some-wrapper {
      display: flex;
      flex-direction: column;
      i {
        margin-right: 10px;
      }
    }
    .footer-info-wrapper {
      display: flex;
      flex-direction: column;
    }
  }
  a:hover {
    color: $col-secondary;
  }
}
.footer-links-wrapper {
  display: flex;
  flex-direction: column;
}

// FORM
form {
  width: 400px;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  * {
    width: 100%;
    border-radius: 4px;
    border: none;
  }
  input {
    height: 50px;
    padding-left: 14px;
    color: $col-primary;
    font-family: $font-text;
    font-weight: 600;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    -webkit-text-fill-color: $col-primary;
    transition: background-color 5000s ease-in-out 0s;
  }
  select {
    height: 50px;
    padding-left: 14px;
    color: $col-primary;
    font-family: $font-text;
    font-weight: 600;
  }
  input::placeholder {
    color: $col-primary;
    opacity: 0.5;
    font-family: $font-text;
    font-weight: 600;
  }
  textarea {
    padding: 14px;
    font-size: 14px;
    color: $col-primary;
    font-family: $font-text;
    font-weight: 600;
  }
  textarea::placeholder {
    color: $col-primary;
    opacity: 0.5;
    font-family: $font-text;
    font-weight: 600;
  }
  label {
    margin-top: 18px;
    font-family: $font-text;
    font-size: 14px;
    color: $col-light;
    font-weight: 800;
  }
  input[type="submit"] {
    width: 40%;
    margin-top: 18px;
  }
}
.align-top {
  align-items: flex-start;
  padding-top: 100px;
}
